body {
    background-color: #F2F3F4;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

.wrap {
    max-width: 1400px;
    margin: 0 auto;
}

.wrap-for-car {
    width: 395px;
}

@media all and (max-width: 940px) {
    .wrap-for-car {
        max-width: 260px;
    }
}

.wrap-for-preference {
    width: 446px;
}

html, body {
    overflow-x: hidden; /* убираем горизонтальную прокрутку */
}